footer{
  background: #4d6472 url(/new-static/images/footer-bg.gif) 0 0 repeat;
  color: #fff;
  padding: 30px 0;
}
.footer-container{
  width: 80%;
  margin: auto;
}
.footer-social-links{
  list-style: none;
}
.footer-text{  
  font-size: 9px;
  line-height: 10px;
  text-align: justify;  
  margin-top: 20px;
  font-family: "Segoe UI", SegoeUIWF, Arial, sans-serif;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  color: #b2b2b2;
}
.footer-links ul{
  padding-left: 0;
}
.footer-links ul li {
  list-style: none;
}
.footer-links-arrow li {
  padding-left: 11px;
  background: url(/new-static/images/footer-arrow.png) 1px 9px no-repeat;
  margin-top: 6px;
}
.footer-links li a {
  font: bold 10px/10px Arial, sans-serif;
  color: #b2b2b2;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.footer-links-wd-arrow{
  margin-top: 10px;
}
.footer-links-wd-arrow li{
  margin-bottom: 12px;
}
.footer-links-wd-arrow li a{
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.footer-tagline{
  text-align: center;
  color: #b2b2b2;
  line-height: 13px;
  font-size: 11px;
  text-transform: uppercase;
  margin:30px 0;
}
.footer-links .col-md-3{
  height: 180px;
}

@media (max-width: 767px) {
  .footer-container{
    width: 90%;
    margin: auto;
  }
  .footer-links .col-md-3{
    height: auto;
  }
  .footer-links{
    width: 80%;
    margin: auto;
  }
}
